<% unless @users.nil? %>
<table class="people" border=1>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Licenses</th>
    <th>Searched Date</th>
    <th>Search Count</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td class="licenses">
        <% unless user.licenses.nil? %>
          <ul>
            <% user.licenses.each do |license| %>
              <li><%= license %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
      <td><%= user.last_searched_for_at %></td>
      <td><%= user.search_count %></td>
    </tr>
  <% end %>
</table>
<% end %>